<!-- IF TOPIC_ACTION_SELECT -->
	<form id="topic_actions" method="post" action="{S_MOD_ACTION}" style="clear: both">
		<fieldset class="quickmod" style="width: auto">
			<label>{L_SELECT}:</label> {TOPIC_ACTION_SELECT} {TOPIC_ACTION_TIME_SELECT} <input type="submit" name="submit" value="{L_GO}" class="button2" />&nbsp;<input type="submit" name="delete_action" value="{L_DELETE}" class="button2" /><input type="hidden" name="action" value="topic_action" />
		</fieldset>
	</form>
	<hr />
<!-- ENDIF -->